form {
    width: 35%;
}

.form-group {
    margin-bottom: 15px;
}


form {
    margin-top: 5vh;
    animation: fade-in 0.55s linear 0ms;
}

p a {
    color: white;
    text-align: left;
}

p a:hover {
    text-decoration: underline aqua;
}

@media (max-width: 768px) {
    Form {
        width: 45%;
    }
}

@media (max-width: 512px) {
    Form {
        width: 65%;
    }
}